<h3>Early Life & Upbringing</h3>
<%= early_life %>

<h3>Pivotal Moments</h3>
<%= pivotal_moments %>

<h3>Path to Adventuring</h3>
<%= recent_history %>

<h3>Unresolved Mysteries</h3>
<%= unresolved_mysteries %> 