<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="px-4 py-6 sm:px-0">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-semibold text-gray-900">Edit Character</h1>
      <div class="flex items-center space-x-4">
        <%= link_to @character, class: "text-indigo-600 hover:text-indigo-900" do %>
          View character
        <% end %>
        <%= link_to characters_path, class: "text-indigo-600 hover:text-indigo-900" do %>
          Back to characters
        <% end %>
      </div>
    </div>

    <% if notice.present? %>
      <div class="rounded-md bg-green-50 p-4 mb-6">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-green-800"><%= notice %></p>
          </div>
        </div>
      </div>
    <% end %>

    <%= render "form", character: @character %>
  </div>
</div>
